{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Subject</title>
  <style>
    /* CSS styles */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: gray;
    }
    
    header {
      background-image:  url('/static/images/it.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 20px;
      height: 200px;
      text-align: center;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #fff;
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
          }
    
    th {
      background-color: #f2f2f2;
    }
    
    /* Media queries for responsiveness */
    @media only screen and (max-width: 600px) {
      /* Adjust styles for smaller screens */
      header {
        font-size: 24px;
      }
      
      table {
        font-size: 14px;
      }
    }
  </style>
</head>
<body>
  <header>
    <h1>Legal</h1>
    <h2>	BIT221</h2>
  </header>

  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>File Size</th> <!-- New column -->
        <th>download Count</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 1</a></td>
        
        <td>99 kb</td> <!-- Corresponding course code -->
        <td>515</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 2</a></td>
        
        <td>56 kb</td> <!-- Corresponding course code -->
        <td>26</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 3</a></td>
        
        <td>47 kb</td> <!-- Corresponding course code -->
        <td>12</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 4</a></td>
        
        <td>366 kb</td> <!-- Corresponding course code -->
        <td>2001</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 1</a></td>
        
        <td>751 kb</td> <!-- Corresponding course code -->
        <td>004</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 2</a></td>
        
        <td>103 kb</td> <!-- Corresponding course code -->
        <td>768</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 3</a></td>
        
        <td>234 kb</td> <!-- Corresponding course code -->
        <td>078</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>example 1</a></td>
        
        <td>804 kb</td> <!-- Corresponding course code -->
        <td>215</td>
        
      </tr>
 <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 1</a></td>
        
        <td>99 kb</td> <!-- Corresponding course code -->
        <td>515</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 2</a></td>
        
        <td>56 kb</td> <!-- Corresponding course code -->
        <td>26</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 3</a></td>
        
        <td>47 kb</td> <!-- Corresponding course code -->
        <td>12</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 4</a></td>
        
        <td>366 kb</td> <!-- Corresponding course code -->
        <td>2001</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 1</a></td>
        
        <td>751 kb</td> <!-- Corresponding course code -->
        <td>004</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 2</a></td>
        
        <td>103 kb</td> <!-- Corresponding course code -->
        <td>768</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 3</a></td>
        
        <td>234 kb</td> <!-- Corresponding course code -->
        <td>078</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>example 1</a></td>
        
        <td>804 kb</td> <!-- Corresponding course code -->
        <td>215</td>
        
      </tr> <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 1</a></td>
        
        <td>99 kb</td> <!-- Corresponding course code -->
        <td>515</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 2</a></td>
        
        <td>56 kb</td> <!-- Corresponding course code -->
        <td>26</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 3</a></td>
        
        <td>47 kb</td> <!-- Corresponding course code -->
        <td>12</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 4</a></td>
        
        <td>366 kb</td> <!-- Corresponding course code -->
        <td>2001</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 1</a></td>
        
        <td>751 kb</td> <!-- Corresponding course code -->
        <td>004</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 2</a></td>
        
        <td>103 kb</td> <!-- Corresponding course code -->
        <td>768</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 3</a></td>
        
        <td>234 kb</td> <!-- Corresponding course code -->
        <td>078</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>example 1</a></td>
        
        <td>804 kb</td> <!-- Corresponding course code -->
        <td>215</td>
        
      </tr> <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 1</a></td>
        
        <td>99 kb</td> <!-- Corresponding course code -->
        <td>515</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 2</a></td>
        
        <td>56 kb</td> <!-- Corresponding course code -->
        <td>26</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 3</a></td>
        
        <td>47 kb</td> <!-- Corresponding course code -->
        <td>12</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Chapter 4</a></td>
        
        <td>366 kb</td> <!-- Corresponding course code -->
        <td>2001</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 1</a></td>
        
        <td>751 kb</td> <!-- Corresponding course code -->
        <td>004</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 2</a></td>
        
        <td>103 kb</td> <!-- Corresponding course code -->
        <td>768</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>Project 3</a></td>
        
        <td>234 kb</td> <!-- Corresponding course code -->
        <td>078</td>
        
      </tr>
       <tr>
        <td ><a style="text-decoration: none;" href="chapter1.pdf" target="_blank" download>example 1</a></td>
        
        <td>804 kb</td> <!-- Corresponding course code -->
        <td>215</td>
        
      </tr>
     


      <!-- Add more rows for other subjects -->
    </tbody>
  </table>
  <div style=" background-image:  url('/static/images/it.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 20px;
      height: 200px;
      text-align: center; ">
    
  </div>
</body>
</html>